/* Add CSS Styling */

body {
    font-style: Verdana, "DejaVu Sans", sans-serif;
}

p {
    background-color: #FFB6C1;
    font-style: Verdana, "DejaVu Sans", sans-serif;
    font-size: 20px;
}

p.two {
    font-size: 45px;
    font-style: Verdana, "DejaVu Sans", sans-serif;
}

#child-one {
    color: blue;
    font-weight: bold;
    font-size: 60px;
    font-style: Verdana, "DejaVu Sans", sans-serif;
}

#child-two {
    background-color: #00FF00;
    font-weight: bold;
    font-size: 60px;
}
