body {
  background: #eee;
  font-family: sans-serif;
  font-size: 16px;
  margin-left: 20%;
  margin-right: 20%;
  
}

.card {
  width: 500px;
  background: #fff;
  margin: 16px auto;
  padding: 30px;
}

.title {
  background: #e3f4ff;
  font-size: 16px;
  padding: 10px;
}

.content {
  background: #e3f4ff;
  padding: 10px;
  
}

.button-container {
  background: #e3f4ff;
  padding: 10px;
  text-align: center;
  margin-top: 10px;

}

button {
  background: white;
  border: 1px solid #eee;
  font-size: 20px;
  padding: 12px 30px;
  align-items: center;
  display: block;
  margin: auto;

}